body{
    background-color: #99D9EA;
    font-family: Arial Black;
    font-weight: bold;
}

#titel_box{
    margin-left: 10%;
}

#ueberschrift{
    margin-left: 10%;
}

#titel_Logo{
    float: right;
    width: 17%;
    margin-top: 0%;
    margin-right: 3%;
}

#anmeldung{
    font-size: 20px;
}

#unterueberschrift{
    font-size: 12px;
}

#formular{
    float: left;
    margin-left: 10%;
    margin-top: 4%;
    font-size: 12px;
    margin-right: 2%;
}

#messeInfos{
    float: right;
    margin-top: 4%;
    text-align: center;
}

#messeInfosUeberschrift{
    font-size: 14px;
}

#messeInfoUnterueberschrift{
    font-size: 12px;
}

#messeLinks{
    font-size: 16px;
}