body{
    font-family: arial black;
    background-color: #99D9EA;
}

h1{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

#Teamname{
    font-size: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 50px;
    text-align: center;
    border: solid;
    width: 80px;
    height: 30px;
}

#Messebeschreibung{
    float: left;
    text-align:left;
    margin-top: 15px;
    margin-left:50px;
}

#Logo{
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 850px;
}

#Bild{
    float: left;
    margin-right: 1000px;
    margin-top: 15px;
    margin-left: 50px;
}





