body {
    font-weight: bold;
    font-family: Arial;
    color: black;
    background-color: #99D9EA;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 16px;
}

#s1 {
    position: absolute;
    top: 10px;
    left: 200px;   
}

#s2 {
    position: absolute;
    top: 145px;
    left: 800px;
}