@import url(main.css);

#topTextDetail{
    font-size: 13px;
    margin-left: 41.5%;
}

#tabMenu{
    width: 484px;
    margin: 1% 20% 0% 35%;
}

.mainTab{
    color : #F9F9F9;
    margin: 0;
    background-color: #3f47cc;
}

#teilnehmerTabBox{
    margin: 0;
    visibility: hidden;
}

#teilnehmerTabCebit{
    background-color: #00a4eb;
}

#kostenTabelle{
    margin: 0px 120px 0px 120px;
    position: absolute;
}

#teilnehmerTabellen{
    visibility: hidden;
}

#cebitTabelle{
    width: 484px;
    visibility: hidden;
    position: absolute;
}

#webtechconTabelle{
    width: 484px;
    visibility: hidden;
    position: absolute;
}

#conhitTabelle{
    width: 484px;
    visibility: hidden;
    position: absolute;
}

.kostentable{
    text-align: left;
}

#kostentableheader{
    text-align: center;
    color: #3f47cc;
}

.teilnehmertable{
    text-align: left;
}

.teilnehmertableheader{
    text-align: center;
    color: #3f47cc;
}

#zurueck{
    float: right;
    margin-top: 20%;
    margin-right: 14%;
}
