@import url(/../team42/Meilenstein%202-3/css/main.css);

#topTextDetail{
    font-size: 13px;
    text-align: center;
}

#tabMenu{
    width: 570px;
    margin: 0 auto;
}

.mainTab{
    color : #F9F9F9;
    background-color: #3f47cc;
}

#teilnehmerTabBox{
    visibility: hidden;
}

#teilnehmerTabCebit{
    background-color: #00a4eb;
}

#kostenTabelle{
    width: 328px;
    margin: 0px 120px 0px 120px;
    position: absolute;
}

#teilnehmerTabellen{
    visibility: hidden;
}

#cebitTabelle{
    width: 570px;
    visibility: hidden;
    position: absolute;
}

#webtechconTabelle{
    width: 570px;
    visibility: hidden;
    position: absolute;
}

#conhitTabelle{
    width: 570px;
    visibility: hidden;
    position: absolute;
}

.kostentable{
    text-align: center;
}

#kostentableheader{
    text-align: center;
    color: #3f47cc;
}

.teilnehmertable{
    text-align: left;
}

.teilnehmertableheader{
    text-align: center;
    color: #3f47cc;
}

#paddingLeft{
    padding-left: 30px;
}

#zurueck{
    float: right;
    margin-top: 20%;
    margin-right: 14%;
}
