@import url(main.css);

#titel_Box{
    margin-left: 10%;
}

#ueberschrift{
    margin-left: 4%;
}

#anmeldung{
    font-size: 20px;
}

#unterueberschrift{
    font-size: 12px;
}

#content{
    margin-left: 10%;
}

#formular{
    float: left;
    width: 35%;
    margin-left: 4%;
    margin-top: 5%;
    font-size: 12px;
    margin-right: 2%;
}

#anmeldeButton{
    width: 100%;
}

#table{
    border-spacing: 0px;
    border: 0px;
}

#table tr, td{
    border: 0px;
    padding: 8px;
}

#messeInfos{
    float: left;
    width: 35%;
    margin-left: 4%;
    margin-top: 2%;
    text-align: center;
}

#messeInfosUeberschrift{
    font-size: 14px;
}

#messeInfoUnterueberschrift{
    font-size: 12px;
}

#messeLinks{
    font-size: 16px;
}

#zurDetail{
    margin-top: 30%;
    font-size: 18px;
}