body{
    font-family: Arial Black, sans-serif;
    font-weight: 900;
    background-color: #99D9EA;
}

#titel_Logo{
    float: right;

    width: 17%;
    margin-top: 0%;
    margin-right: 8%;
    position: static;
}