@import url(main.css);

body {
    color: #5F5F5F;
    font-family: verdana,tahoma,arial,helvetica,verdana,sans-serif;
    font-weight: 400;
}

#titel_box{
    margin-left: 40%;
}

#Top-Text{
    margin-left: 30%;
}

h1{
    text-align: center;
    font-size: 22pt;
}

#content_text{
    width: 32%;
    margin-right: 2%;
    float: left;
    margin-left: 18%;
    font-size: 16pt;
}

#content_image1{
    float: right;
    width: 35%;
    margin-top: 3%;
    margin-right: 12%;
}

#content_image2{
    width: 35%;
    margin-left: 18%;
}

#zurueck{
    float: right;
    margin-top: 5%;
    margin-right: 14%;
    margin-bottom: 5%;
}
