@import url(main.css);



body {

}

#wrapper{

}

.mainTab{
    margin: 0;
    background-color: #3f47cc;
}

#topTextDetail{
    margin-left: 26%;

}

#tabMenu{
    margin: 2% 20% 0% 20%;

}

#kostenTabelle{
    position: absolute;

}

#teilnehmerTabBox{
    margin: 0;
    visibility: hidden;
}

#teilnehmerTabCebit{
    background-color: #00a4eb;
}

#teilnehmerTabConhit{

}

#teilnehmerTabWebConTech{

}

#teilnehmerTabellen{
    visibility: hidden;
}

#cebitTabelle{
    visibility: hidden;
    position: absolute;
}

#webcontechTabelle{
    visibility: hidden;
    position: absolute;
}

#conhitTabelle{
    visibility: hidden;
    position: absolute;
}

#zurueck{
    float: right;
    margin-right: 10%;

}

